html {
  font-style: normal;
  font-family: sans-serif;
  text-align: center;
}

#movies-list li{
  list-style: none;
  display: inline-block;
  text-align: center;
  width: 220px;
  height: 450px;
  margin: 20px;
  border: solid;
  border-radius: 5px;
  background-image: url('https://pbs.twimg.com/profile_images/1799491805/canstock3079386.jpg');
  background-size: contain;
}

#title {
  height: 40px;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
}

#move-pages button{
  display: inline-block;
  text-align: center;
  margin: 5px;
}

#move-pages p{
  display: inline-block;
  text-align: center;
  margin: 5px;
}
